<!-- This is the base for my pages.  -->

<!DOCTYPE html>
<html>	
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="../static/bootstrap/css/style.css" /> -->
	<title>RunFree: Your Awesome Running Log</title>
</head>
<body>
	<script src = "http://code.jquery.com/jquery-2.1.3.min.js">
	</script>
	<a href="/about">About Runfree</a>
	<br>
	<a href="/business">Contact the Developer</a>
	<br><br>
	{% if session.get("email") == None %}
	<h1>Log In</h1>
	<form action="/authenticate" method = "POST">
		<input type="email" name="email"> Enter Email</input>
		<br>
		<input type="password" name="password"> Enter Password</input>
		<input type="submit">

	</form>
	<br>
	<a href="/new_user"> Create a new user</a>
	<br>
	{% else %}
    <a href="/user_landing">Home</a>
    <br>
	<a href="/run_graphs">Run Graphs</a>
    <br>
    <a href='/ideal_runs'>Personalized Ideal Run Conditions</a>
    <br>
    <a href="/goals">Goals</a>
    <br>
    <a href="/run_log">Runs</a>
    <br><br>

    <a href="/sign_out">Log Out</a>
    <br><br>

    {% endif %}

    <!-- This is where the flashes will appear. -->
    <div class="container">
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <ul class="flashes">
        <li>{{message}}</li>
    </ul>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- This is where the other pages will extend from. -->
    {% block body %}{% endblock %}

    </div>
    <div id = "footer">

        <br><br>
        <p>Runfree: Your Awesome Running Website<br>
        A <a href="www.hackbrightacademy.com"> Hackbright Academy </a> Final Project<br>
        Hayley C. Denbraver, Winter 2015<br>
        hayley.denbraver@gmail.com Twitter: @runningwendybird GitHub @runningwendybird</p>
    
    </div>

</body>
</html>
