<!-- This is the base for my pages that one can view
without logging in.  -->

<!DOCTYPE html>
<html>	
<head>
<title>RunFree: Your Awesome Running Log</title>
</head>
<body>
	<a href="/about">About Runfree</a>
	<br>
	<a href="/business">Contact the Developer</a>
	<br><br>
	<h1>Log In</h1>
	<form action="/authenticate" method = "POST">
		<input type="text" name="email"> Enter Email</input>
		<br>
		<input type="text" name="password"> Enter Password</input>
		<input type="submit">

	</form>
	<br>
	<a href="/"> Create a new user</a>
	<br>

    <!-- This is where the flashes will appear. -->
    <div class="container">
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <ul class="flashes">
        <li>{{message}}</li>
    </ul>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- This is where the other pages will extend from. -->
    {% block body %}{% endblock %}

    </div>

</body>
</html>
