<!-- This is where the user can view their general trends.  -->

{% extends 'base.html' %}
{% block body %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<!-- <a id="bar_graph_link" href = "/get_bar_graph">View Bar Graph</a> -->
The Mileage of Your Last 5 Runs!

<div id="bar_graph">

<style>

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

</style>
<svg class="chart"></svg>
<script>


d3.json("/bar_chart", function(data) {

var distance_list = []

var create_dist_list = function (data) {
  for (var i = 0; i < data.length; i++){
      distance_list.push(data[i].distance)
      }
  return distance_list;
}

create_dist_list(data);

console.log(distance_list)



var width = 420,
    barHeight = 20;

var x = d3.scale.linear()
	.domain([0, d3.max(distance_list)])
	.range([0, width]);

var chart = d3.select(".chart")
    .attr("width", width)
    .attr("height", barHeight * 5);

var bar = chart.selectAll("g")
    .data(data)
  .enter().append("g")
    .attr("transform", function(data, i) { return "translate(0," + i * barHeight + ")"; });

bar.append("rect")
    .attr("width", function(data) { return x(data.distance);})
    .attr("height", barHeight - 1);

bar.append("text")
    .attr("x", function(data) { return x(data.distance) - 3; })
    .attr("y", barHeight / 2)
    .attr("dy", ".35em")
    .text(function(data) { return data.date + "  " + data.distance + "  Miles"; });
  });



</script>
</div>

<!-- <div id = "pie_chart">
<style>
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
}
path.slice{
  stroke-width:2px;
}
polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
} 
svg text.percent{
  fill:white;
  text-anchor:middle;
  font-size:12px;
}

</style>
<button onClick="changeData()">Change Data</button>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="Donut3D.js"></script>
<script>

// d3.json("/pie_chart", function(data) {


var color_list = ["#0000FF", "#8A2BE2", "#6495ED", "#5F9EA0", "#7FFFD4", "#8B008B", "E9967A"]; 

// console.log(data)

// var salesData=[
//   {label:"park", color:"#3366CC"},
//   {label:"city", color:"#DC3912"},
//   {label:"neighborhood", color:"#FF9900"},
//   {label:"trail", color:"#109618"},
//   {label:"track", color:"#990099"}, 
//   {label:"beach", color:"8A2BE2"}, 
//   {label:"treadmill", color:"FFB6C1"}
// ];


var salesData=[
  {label:"Basic", color:"#3366CC"},
  {label:"Plus", color:"#DC3912"},
  {label:"Lite", color:"#FF9900"},
  {label:"Elite", color:"#109618"},
  {label:"Delux", color:"#990099"}
];

var svg = d3.select("body").append("svg").attr("width",700).attr("height",300);

svg.append("g").attr("id","salesDonut");
svg.append("g").attr("id","quotesDonut");

Donut3D.draw("salesDonut", randomData(), 150, 150, 130, 100, 30, 0.4);
Donut3D.draw("quotesDonut", randomData(), 450, 150, 130, 100, 30, 0);
  
function changeData(){
  Donut3D.transition("salesDonut", randomData(), 130, 100, 30, 0.4);
  Donut3D.transition("quotesDonut", randomData(), 130, 100, 30, 0);
}

function randomData(){
  return salesData.map(function(d){ 
    return {label:d.key, value:d.value, color: "#000000"};});
}
// });
</script>
</div> -->


{% endblock %}