<!-- This is where current and passed goals are listed. There will be a button to click to set a new goal.  -->

{% extends 'base.html' %}
{% block body %}
<div class = "row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #F3A715">
				<h3 class="panel-title" style="color: white">Goal Log</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<td><b>Goal Description</b></td>
						<td><b>Goal Date</b></td>
						<td><b>Complete?</b></td>
						<td></td>
					</tr>

				{% for goal in goals %}
					<tr>
						<td>{{ goal_dictionary[goal.description] }}</td>
						<td>{{ goal.event_date.month }}-{{ goal.event_date.day }}-{{ goal.event_date.year }}</td>
						<td>{% if not goal.date_completed %}Outstanding{% else %} Complete{% endif %}</td>
						<td><a class="btn btn-default btn-sm" href="/view_goal.html?goal_id={{goal.id}}" role="button">View Goal</a>
					</tr>

				{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<a class="btn btn-default btn-lg" href="/new_goal">Create a New Goal</a><br><br>
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#goalmodal">Learn More About this Feature</button><br>
        <!-- Modal -->
        <div class="modal fade" id="goalmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Goal Log</h4>
              </div>
              <div class="modal-body">
                <p>On this page, you can review your previously set goals. You can see the goal, the goal date, and whether or not it is completed. Click the "View Goal" button to review a single goal, or click "Create New Goal" to see the interface used for setting new goals. This is one of the nicest features of RunFree, RunMe because the goal setting features helps users find a goal race event based on their goal, their location, and their current fitness level.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
	</div>
</div>
{% endblock %}