{% extends 'base.html' %}
{% block body %}
<div class="row">
<div class="col-md-8">
<div class="panel panel-default">
	<div class="panel-heading" style="background-color: #F3A715">
		<h3 class="panel-title" style="color: white">Your Ideal Running Conditions</h3>
	</div>
	<div class="panel-body">
		<p>RunFree, RunMe can help you pinpoint your ideal running conditions. Based on your history of runs, RunFree, RunMe looks for patterns amoungst your highest rated runs. Look below for information about your high rated runs and information about your running trends in general.</p>
	</div>
</div>
</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #F3A715">
				<h4 class="panel-title" style="color: white">Highly Rated Runs</h4>
			</div>
			<div class="panel-body">
				<p>Average Distance: {{ '%0.2f' % high_distance|float }} Miles<p>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading" style="background-color: #F3A715">
		<h5 class="panel-title" style="color: white">Conditions Associated with Highly Rated Runs</h5>
	</div>
	<div class="panel-body">
	<div class="row">
		<div class="col-md-3">
			<h5>{% if len_terrain > 1 %}Terrains:</h5>
					{% for i in range(len_terrain) %} 
						<p>{{ prefered_terrain[prefered_terrain_keys[i]][0] }}		<img src="{{ terrain_images[prefered_terrain_keys[i]] }}" style="width:75px;height:75px"></p>
					{% endfor %}
				{% endif %}
				<h5>{% if len_terrain == 1 %}Terrain:</h5> 
					{% for key in prefered_terrain.keys() %}
						<p>{{ prefered_terrain[key][0] }}		<img src="{{ terrain_images[key] }}" style="width:75px;height:75px"> </p>
					{% endfor %}
				{% endif %}</p>
		</div>
		<div class="col-md-3">
			<h5>{% if len_route > 1 %}Routes:</h5>
					{% for i in range(len_route) %}  
						<p>{{ prefered_route[prefered_route_keys[i]][0] }}		<img src="{{ route_images[prefered_route_keys[i]] }}" style="width:75px;height:75px"></p> 
					{% endfor %}
				{% endif %}
				<h5>{% if len_route == 1 %}Route:</h5> 
					{% for key in prefered_route.keys() %}
						<p>{{ prefered_route[key][0] }}		<img src="{{ route_images[key] }}" style="width:75px;height:75px"></p> 
					{% endfor %}
				{% endif %}</p>
		</div>
			<div class="col-md-3">
				<h5>{% if len_location > 1 %}Locations:</h5>
					{% for i in range(len_location) %} 
						<p>{{ prefered_location[prefered_location_keys[i]][0] }}	<img src="{{ location_images[prefered_location_keys[i]] }}" style="width:75px;height:75px"></p>  
					{% endfor %}
				{% endif %}
				<h5>{% if len_location == 1 %}Location:</h5> 
					{% for key in prefered_location.keys() %}
						<p>{{ prefered_location[key][0] }}		<img src="{{ location_images[key] }}" style="width:75px;height:75px"></p>   
					{% endfor %}
				{% endif %}</p>


		</div>
			<div class="col-md-3">
				<h5>{% if len_day > 1 %}Days:</h5> 
					{% for i in range(len_day) %}  
						{{ prefered_weekday_keys[i] }}	<img src="{{ weekday_images[key] }}" style="width:75px;height:75px">  
					{% endfor %}
				{% endif %}
				<h5>{% if len_day == 1 %}Day:</h5> 
					{% for key in prefered_weekday.keys() %}
						{{ key }}	<img src="{{ weekday_images[key] }}" style="width:75px;height:75px"> 
					{% endfor %}
				{% endif %}</p>
			</div>
		</div>
	</div>

{% endblock %}