<!-- This is the landing page. Will include a nice graphic and a place to log in and a button to sign up.  -->

{% extends 'base.html' %}
{% block body %}

<div class="jumbotron">
  <h1>RunFree, RunMe</h1>
  <p>Your Happy Running Home on the Web</p>
  <div class="row">
  	<div class="col-md-6">
  		<p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn More</a> <a class="btn btn-primary btn-lg" href="/new_user" role="button">Sign Up</a></p>
  	</div>
  	<div class="col-md-6">
  		<img src="/static/images/trackbadge.jpg">
  	</div>
</div>

{% endblock %}