<!-- Here is where I will ask the user to fill out info about their latest run. -->
{% extends 'base.html' %}
{% block body %}
<div class = "row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #F3A715">
				<h3 class="panel-title" style="color: white">General Run Information</h3>
			</div>
		<div class="panel-body">
		<form action="/add_run" method="POST">
			<div class="form-group">
				<label for="run_date">Date of Run</label>
				<input type="datetime-local" class="form-control" id="run_date"name="new_run_date_and_time"></input>
			</div>
			<div class="form-group">
				<label for="run_zipcode">Zipcode</label>
				<input type="text" class="form-control" id="run_zipcode" name="zipcode" placeholder="Zipcode"></input>
			</div>
			<div class="form-group">
				<label for="run_distance">Approximate Distance</label>
				<input type="text" class="form-control" id="run_distance" name="distance" placeholder="Enter Approximate Distance of Run"></input>
			</div>
			<div class="form-group">
				<label for="run_duration">Approximate Duration</label>
				<input type="text" class="form-control" id="run_duration" name="duration" placeholder="Enter Approximate Duration of Run in Minutes"></input>
			</div>
			<div class="form-group">
				<label for="route">Select Route</label>
				<select class="form-control" name="route">
					<option value=0>None</option>
					{% for route in routes %}
					<option value={{ route.id }}> {{ route.title }} {{ route.distance }}
					{% endfor %}
				</select>
			</div>
			<h3>How Did You Feel...</h3>
			<div class="form-group">
			<label for="pre_run">Before the Run</label>
			<select class="form-control" name="pre_run">
				<option value=5>Great</option>
				<option value=4>Good</option>
				<option value=3>Neutral</option>
				<option value=2>Bad</option>
				<option value=1>Very Bad</option>
			</select>
		</div>

			<div class="form-group">
			<label for="during_run">During the Run</label>
			<select class="form-control" name="during_run">
				<option value=5>Great</option>
				<option value=4>Good</option>
				<option value=3>Neutral</option>
				<option value=2>Bad</option>
				<option value=1>Very Bad</option>
			</select>
		</div>
			<div class="form-group">
			<label for="post_run">After the Run</label>
			<select class="form-control" name="post_run">
				<option value=5>Great</option>
				<option value=4>Good</option>
				<option value=3>Neutral</option>
				<option value=2>Bad</option>
				<option value=1>Very Bad</option>
			</select>
		</div>
	

			<h3>Energy Level</h3>
			<select class="form-control" name="energy">
				<option value=5>Very Focused, Productive, and Energetic</option>
				<option value=4>Good Focus and Productivity</option>
				<option value=3>Neutral</option>
				<option value=2>Unfocused and Tired</option>
				<option value=1>Unfocused, Unproductive, and Sluggish</option>
			</select>
			<br>
			<h3>Additional Questions</h3>
		<div class="form-group">
			<label for="feeling">Pick a word to describe how you are feeling.</label>
			<select class="form-control" name="feeling">
				<option value="positive">Positive</option>
				<option value="optimistic">Optimistic</option>
				<option value="refreshed">Refreshed</option>
				<option value="excited">Excited</option>
				<option value="peaceful">Peaceful</option>
				<option value="nervous">Nervous</option>
				<option value="upset">Upset</option>
				<option value="ill">Ill</option>
				<option value="injured">Injured</option>
				<option value="tired">Tired</option>
			</select>
		</div>
		<div class="form-group">
			<label for="location">Choose a word to describe where you ran.</label>
			<select  class="form-control" name="location">
				<option value="park">Park</option>
				<option value="city">City</option>
				<option value="neighborhood">Neighborhood</option>
				<option value="trail">Trail</option>
				<option value="beach">Beach</option>
				<option value="track">Track</option>
				<option value="treadmill">Treadmill</option>
			</select>
		</div>
		<div class="form-group">
			<label for="terrain">Choose a word to describe the terrain.</label>
			<select class="form-control" name="terrain">
				<option value="flat">Flat</option>
				<option value="downhill">Mostly Downhill</option>
				<option value="uphill">Mostly Uphill</option>
				<option value="hills">Rolling Hills</option>
			</select>
			</div>
		<div class="form-group">
			<label for="route_type">Describe the type of route.</label>
			<select class="form-control" name="route_type">
				<option value="loop">Loop</option>
				<option value="out_and_back">Out and Back</option>
				<option value="point_to_point">Point to Point</option>
				<option value="random">Random</option>
				<option value="track">Track</option>
				<option value="treadmill">Treadmill</option>
			</select>
			</div>
		<div class="form-group">
			<label for="thoughts">Any other thoughts?</label>
			<TEXTAREA class="form-control" NAME="thoughts" ROWS=6 COLS=50 placeholder="Your text here."></TEXTAREA>
		</div>
		<div class="form-group">
			<label for="instagram_embed">Insert Instagram Embed</label>
		<!-- Button trigger modal -->
<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModalinsta">
  More Information
</button>

<!-- Modal -->
<div class="modal fade" id="myModalinsta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Instagram Instructions</h4>
      </div>
      <div class="modal-body">
        <p>It is easy to create a visual record of your running with RunFree, RunMe. Simply upload a photo to Instagram or find a picture on instagram that you like or find inspirational. When you view a picture on Instagram, there is a button to the lower right side of the picture. If you click it, you can get an embed code, which you can insert into this form.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
			<TEXTAREA class="form-control" Name="instagram_embed" ROWS=6 COLS=50 placeholder="Instagram embed code here."></TEXTAREA></div>

			<br><br>
			<input class="btn btn-default" type="submit"></input>


		</form>
	</div>
</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>Your running diary is your best tool to track your progress and pinpoint your physical, mental, and emotional progress through running. Be as honest and thorough as possible--your future self will appreciate it.</p> 
				<a  id = "back_to_run_log" class="btn btn-default" href ="/run_log">Back to Run Log</a>
			</div>
		</div>
</div>
<script>
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>

{% endblock %}