{% extends 'base.html' %}
{% block body %}
<div class = "row">
	<div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #F3A715">
        <h4 class="panel-title" style="color: white">Route Information</h4>
      </div>
    <div class="panel-body">  
  		<form action="/add_route" method = "POST">
  			<div class="form-group">
      			<label for="route_title">Route Title</label>
      			<input type="text" class="form-control" id="route_title" placeholder="Enter Route Title" name="route_title">
    			</div>
  			<div class="form-group">
      			<label for="location_description">Location Despriction</label>
      			<input type="text" class="form-control" id="location_description" placeholder="Enter Location Description" name="location_description">
    			</div>
    			<div class="form-group">
      			<label for="route_distance">Route Distance</label>
      			<input type="text" class="form-control" id="route_distance" placeholder="Enter Route Distance" name="route_distance">
    			</div>
          <div class="form-group">
            <label for="user_notes">User Notes</label>
  			<TEXTAREA class="form-control" NAME="user_notes" ROWS=6 COLS=50 placeholder="Your text here."></TEXTAREA></div>
  			<div class="form-group">
          <label for="map_embed">Map Embed Code</label>   <!-- Button trigger modal -->
<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModalinsta">
  More Information
</button>

<!-- Modal -->
<div class="modal fade" id="myModalinsta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Instagram Instructions</h4>
      </div>
      <div class="modal-body">
        <p>It is easy to store routes from MapMyRun with RunFree, RunMe. When you are logged into MapMyRun, view the route that you want to store on RunFree, RunMe. There will be a link on the route page that will say "Add this route to your site". Click the link, play with the settings, and copy the embed code into the form on RunFree, RunMe. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        <TEXTAREA class="form-control" NAME="map_embed" ROWS=6 COLS=50 placeholder="Your text here."></TEXTAREA></div>
  			<input class="btn btn-default" type="submit"></input>

  		</form>
    </div>
    </div> 
	</div>
    <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>Store your favorite routes! Store routes and attach them to your runs. They will become an important part of the visual record of your running journey.</p>
        <a  id = "back_to_routes" class="btn btn-default" href ="/routes">Back to Route Library</a>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
</script>

{% endblock %}