{% extends 'base.html' %}
{% block body %}
<div class = "row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #F3A715">
				<h3 class="panel-title" style="color: white">Route Log</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<td><b>Route Title</b></td>
						<td><b>Route Description</b></td>
						<td><b>Route Distance</b></td>
						<td></td>
					</tr>
		{% for route in routes %}
					<tr>
						<td>{{ route.title }}</td>
						<td>{{ route.location_description }}</td>
						<td>{{ route.distance }}</td>
						<td><a class="btn btn-default btn-sm" href="/view_route.html?route_id={{route.id}}" role="button">View Route</a>
					</tr>

		{% endfor %}
				</table>
			</div>
			</div>
		</div>
	<div class="col-md-4">
		<a class="btn btn-default btn-lg" href="/new_route">Add a New Route</a>
	</div>
</div>

{% endblock %}