{% extends 'base.html' %}
{% block body %}
<div class = "row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #F3A715">
				<h3 class="panel-title" style="color: white">Route Log</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<td><b>Route Title</b></td>
						<td><b>Route Description</b></td>
						<td><b>Route Distance</b></td>
						<td></td>
					</tr>
		{% for route in routes %}
					<tr>
						<td>{{ route.title }}</td>
						<td>{{ route.location_description }}</td>
						<td>{{ route.distance }}</td>
						<td><a class="btn btn-default btn-sm" href="/view_route.html?route_id={{route.id}}" role="button">View Route</a>
					</tr>

		{% endfor %}
				</table>
			</div>
			</div>
		</div>
	<div class="col-md-4">
		<a class="btn btn-default btn-lg" href="/new_route" style="display:none">Add a New Route</a>
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#routemodal">Learn More About this Feature</button><br>
        <!-- Modal -->
        <div class="modal fade" id="routemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Route Library</h4>
              </div>
              <div class="modal-body">
                <p>This is where the user's collection of routes will be displayed. The database is queried to obtain a list of all the route objects for the given user. The table quickly shows the user the route title, description, and distance, and includes a link for the user to click through to view the details.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
	</div>
</div>

{% endblock %}