<!-- This is where the user can view a list of their most recent runs.  -->

{% extends 'base.html' %}
{% block body %}
<div class = "row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #F3A715">
				<h3 class="panel-title" style="color: white">Run Log</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr>
						<td><b>Run Date</b></td>
						<td><b>Run Distance</b></td>
						<td><b>Run Duration</b></td>
						<td></td>
					</tr>
				{% for run in runs %}
					<tr>
						<td>{{ run.date_run.month }}-{{ run.date_run.day }}-{{ run.date_run.year }}</td>
						<td>{{ run.approx_dist }} Miles </td>
						<td>{{ run.approx_time }} Minutes </td>
						<td><a class="btn btn-default btn-sm" href="/view_run.html?run_id={{run.id}}" role="button">View Run</a></td>
					</tr>
				{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<a class="btn btn-default btn-lg" href="/new_run" style="display:none">Log a New Run</a>
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#runlogmodal">Learn More About this Feature</button><br>
        <!-- Modal -->
        <div class="modal fade" id="runlogmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Run Log</h4>
              </div>
              <div class="modal-body">
                <p>Run Log Explanation</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
	</div>
</div>


{% endblock %}