<!-- This is the base for pages that can be viewed once the user has logged in. -->

<!DOCTYPE html>
<html>	
<head>
<title>RunFree: Your Awesome Running Log</title>
</head>
<body>
	<a href="/run_graphs">See Your Progress!</a>
    <br>
    <a href="/goals">Set a Goal!</a>
    <br>
    <a href="/run_log">View Your Running Log</a>
    <br><br>

    <a href="/sign_out">Sign Out</a>
    <br><br>
    <!-- This is where the flashes will appear. -->
    <div class="container">
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <ul class="flashes">
        <li>{{message}}</li>
    </ul>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- This is where the other pages will extend from. -->
    {% block body %}{% endblock %}

    </div>

</body>
</html>