{% extends 'base.html' %}
{% block body %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <div class="row">
  <div id="heat_map" class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Running Calendar</h3>
      </div>
      <div class="panel-body">
        <button id = "prev_months">Back</button>
        <button id ="next_months">Forward</button>
        <br><br>
        <link rel="stylesheet" href="/static/css/cal-heatmap.css" />
        <script type="text/javascript" src="/static/js/cal-heatmap.min.js"></script>
        <div id="cal-heatmap"></div>
        <script type="text/javascript">
          var cal = new CalHeatMap();
          cal.init({"domain": "month", 
                "cellRadius": 5, 
                "cellSize": 10, 
                "range" : 6, 
                "domainGutter": 10,  
                start: new Date(2014, 0, 1, 1), 
                data: "/calendar_data.json", 
                previousSelector: "#prev_months",
                nextSelector: "#next_months"
              });
        </script>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Run Towards Your Goals!</h3>
      </div>
      <div class="panel-body">
        {% if possible_matches %}
          <p>Congrats! You have runs that meet milestones!</p>
          {% for match in possible_matches %}
            <p><a href="/view_goal.html?goal_id={{ match[0].goal.id }}">{{ goal_dictionary[match[0].description] }}</a>: {{ match[1].approx_dist }} Mile Run</p>
          {% endfor %}
        {% else %}
          <p>Keep reaching toward your goals. No recent runs match up with goal milestones.<p>
      {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row" id = "instagrams">
  {% for instagram in instagrams %}
    <div class="col-md-2">{{ instagram| safe }}</div>
    {% endfor %}

</div> 

{% endblock %}