{% extends 'base.html' %}
{% block body %}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <div class="row">
  <div id="heat_map" class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Running Calendar</h3>
      </div>
      <div class="panel-body">
        <button class="btn btn-default" id = "prev_months">Back</button>
        <button class="btn btn-default" id ="next_months">Forward</button>
        <br><br>
        <link rel="stylesheet" href="/static/css/cal-heatmap.css" />
        <script type="text/javascript" src="/static/js/cal-heatmap.min.js"></script>
        <div id="cal-heatmap"></div>
        <style>
          .graph-label{
            color: black;
          }
        </style>
        <script type="text/javascript">
          var cal = new CalHeatMap();
          cal.init({"domain": "month", 
                "cellRadius": 5, 
                "cellSize": 10, 
                "range" : 6, 
                "domainGutter": 10,  
                start: new Date(2014, 0, 1, 1), 
                data: "/calendar_data.json", 
                previousSelector: "#prev_months",
                nextSelector: "#next_months",
                legendColors: {
                  min: "#efefef",
                  max: "steelblue",
                  empty: "white", 
                },
                legend: [2, 4, 6, 8, 10, 12, 14], 
                domainMargin: 4, 
                tooltip: true, 
                itemName: ["mile", "miles"]
              });
        </script>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Run Towards Your Goals!</h3>
      </div>
      <div class="panel-body">
        {% if possible_matches %}
          <p>Congrats! You have runs that meet goal milestones! The buttons below will take you to your goal, where you can confirm your milestone.</p>
          {% for match in possible_matches %}
            <p><a class="btn btn-default" href="/view_goal.html?goal_id={{ match[0].goal.id }}" role="button">{{ goal_dictionary[match[0].description] }}: {{ match[1].approx_dist }} Mile Run</a></p>
          {% endfor %}
        {% else %}
          <p>Keep running toward your goals. No recent runs match up with goal milestones, but when you log a run that milestone criteria for an active goal, you will see a notification here.<p>
      {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="row" id = "instagrams">
  <div class = "panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Your Gallery</h3>
    </div>
    <div class="panel-body">
      {% if not instagrams %}
        <p> Embed an Instagram picture when you create a new run. Your recent pictures will show up here. </p>
      {% else %}
        {% for instagram in instagrams %}
          <div class="col-md-2">{{ instagram| safe }}</div>
        {% endfor %}
      {% endif %}
  </div>

</div> 

{% endblock %}