<!-- This is where the user can view a previously entered run. -->

{% extends 'base.html' %}
{% block body %}
<div id="current_run">
<h3>Run Report</h3> <a  id = "edit_run" class="btn btn-default" href = {{ edit_url }} style="display: none">Edit Run</a>
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#runmodal">Learn More About this Feature</button>
<!-- Modal -->
<div class="modal fade" id="runmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Viewing a Previous Run</h4>
      </div>
      <div class="modal-body">
        <p>This is what a typical run entry looks like. Details that a user previously entered using the add run function are queried from the database and displayed for the user's review. My favorite parts of viewing a previous run are the route from mapmyrun which had been previously stored (see the routes tab), the instagram photo, and the location/terrain/and route badges that display (they are unique for each running condition! Go for a run in a new place or on a new terrain and see the different badges!) I also like the svg bubbles that indicate how the user said that they were feeling. (Red indicates a low score, Green indicates a high score.) </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<a  id = "back_to_run_log" class="btn btn-default" href ="/run_log">Run Log</a><br><br>
<div class="row">
	<div id="run_details" class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #F3A715">
				<h4 class="panel-title" style="color: white">Run Deatils</h4>	
			</div>
		  <div class="panel-body">
			<ul>
				<li>Run Date: {{ run.date_run.month }}-{{ run.date_run.day }}-{{ run.date_run.year }}</li>
				<li>Run Time: {% if run.date_run.hour > 12 %} {{ run.date_run.hour -12 }}{% else %}{{ run.date_run.hour }}{% endif %}:{% if run.date_run.minute < 10 %}0{{run.date_run.minute}}{% else %}{{run.date_run.minute}}{% endif %}{% if run.date_run.hour > 12 %} PM{% else %}AM{% endif %}</li>
				<li>Zipcode: {{run.zipcode}}</li>
				<li>Distance: {{run.approx_dist}} miles</li>
				<li>Duration: {{run.approx_time}} min</li>
				<li><b>Overall User Rating: {{ score }}</b></li>
			</ul>

			<h5>Mood Ratings</h5>
			<ul>
				<li><span>Before the Run: <svg width="16" height="16">
			  	<circle cx="8" cy="8" r="8" stroke={{ color_zero }}] }} stroke-width="1" fill={{ color_zero }} />
				</svg></span></li>
		
				<li><span>During the Run: <svg width="16" height="16">
			  	<circle cx="8" cy="8" r="8" stroke={{ color_one }}] }} stroke-width="1" fill={{ color_one }} />
				</svg></span></li>

				<li><span>After the Run: <svg width="16" height="16">
			  	<circle cx="8" cy="8" r="8" stroke={{ color_two }}] }} stroke-width="1" fill={{ color_two }} />
				</svg></span></li>
			
				<li><span>Your energy level that day: <svg width="16" height="16">
			  	<circle cx="8" cy="8" r="8" stroke={{ color_three }}] }} stroke-width="1" fill={{ color_three }} />
				</svg></span></li>

				<li>You described your state as: {{ratings[4].select_ans.capitalize()}}</li>
			</ul>	
			<h5>Final Thoughts</h5><br>
			{{ ratings[8].text_ans }}
		</div>
	</div>
	</div>
	<div id="route_map_show" class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #F3A715">
				<h4 class="panel-title" style="color: white">Map of Route</h4>
			</div>
			<div class="panel-body">
				{% if not current_route %}
					<p> Store routes in your <a href="/routes">routes library.</a> You can associate a route with a run and a map will show up in your run log!</p>
				{% else %}
					{{ current_route.html_embed | safe }}
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div id="course_description" class="panel panel-default">
				<div class="panel-heading" style="background-color: #F3A715">
					<h4 class="panel-title" style="color: white">Course Description</h4>
				</div>
					<div class="panel-body">
					<ul>
						<li>Scenery: {{ratings[5].select_ans.capitalize()}}</li>
						<li>Terrain: {{terrain_dictionary[ratings[6].select_ans]}}</li>
						<li>Route Type: {{route_dictionary[ratings[7].select_ans]}}</li>
					</ul>
					<div class="row">
						<div class="col-md-1">
						</div>
						<div class="col-md-10">
							<img src="{{ location_image }}" style="width:50px;height:50px">
							<img src="{{ terrain_image }}" style="width:50px;height:50px">
							<img src="{{ route_image }}" style="width:50px;height:50px">
						</div>
						<div class="col-md-1">
						</div>
					</div>
					</div>
		</div>
				<div id="insta-div">
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color: #F3A715">
				<h4 class="panel-title" style="color: white">Capture Your Run!</h4>
			</div>
			<div class="panel-body">
				{% if not instagram_html %}
					<p>You can add a picture from instagram to your run! It is an excellent way to document your running journey.</p>
				{% else %}
					{{ instagram_html | safe }}
				{% endif %}
			</div>
		</div>
		</div>
</div>
</div>
{% endblock %}