{% extends 'base.html' %}
{% block body %}
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#goalmodal">Learn More About this Feature</button>
<!-- Modal -->
<div class="modal fade" id="goalmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Review a Goal</h4>
      </div>
      <div class="modal-body">
        <p>Goal setting can help person new to running stick with it and enjoy the benefits of regular excercise and the excitement of acheiving a goal. RunFree, RunMe makes it easy to track your progress. When a goal is set by the user, sub-goals (or milestones) are automatically populated to help the user make small steps towards their goal. For example... it makes sense to run a mile before you run 5k. After a goal is set, if a user logs a run that meets the criteria of one of their milestones, the user is informed on their dash. The user can click through to see the goal, and confirm their progress.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<a href="/goals" class="btn btn-default">Back to Goals</a>
<br><br>
<div class="row">
	<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading" style="background-color: #F3A715">
			<h3 class="panel-title" style="color: white">{{ goal_dictionary[goal.description] }}</h3>
		</div>
		<div class="panel-body">
			Set Date: {{ goal.set_date.month }}-{{ goal.set_date.day }}-{{ goal.set_date.year }}
			<br>
			Goal Date: {{ goal.event_date.month}}-{{ goal.event_date.day }}-{{ goal.event_date.year }}
			<br>
			Days Left: {{ days_left }}
			<br>
			{% if goal.race_url != None %}
			Race : <a href={{goal.race_url}} target="_blank">{{goal.race_url}}{% endif %}</a>
			<br>
			<form action="/update_goal">
				<input  type="text" name="goal_id" style="display: none" value = "{{ goal.id }}"></input>
				{% for subgoal in subgoals %}
				{% if not subgoal.date_completed %}
				{{ goal_dictionary[subgoal.description] }} : <input type="checkbox" name="{{ subgoal.description }}" value="{{ subgoal.id }}"</input> {% for match in possible_matches %}{% if match[0].id == subgoal.id %} Congrats! It looks like you have a run that meets the criteria of this milestone. <a href="/view_run.html?run_id={{ match[1].id }}" target = "_blank">{{ match[1] }} </a> {{ match[1].approx_dist }} Miles{% endif %} {% endfor %}
				<br>
				{% else %}
				{{ goal_dictionary[subgoal.description] }} : Complete! {{ subgoal.date_completed.month }}-{{ subgoal.date_completed.day }}-{{ subgoal.date_completed.year }}
				<br>
				{% endif %}
				{% endfor %}
				{% if not goal.date_completed %}
				<b>FINAL GOAL {{ goal_dictionary[goal.description] }} : </b> <input type="checkbox" name="final_goal" value="{{ goal.id }}">
				{% else %}
				<b>FINAL GOAL {{ goal_dictionary[goal.description] }} : Complete! </b> 
				{% endif %}
				<br><br>
			{% if update_button == True %}	
			<input type="submit" class="btn btn-default" value="Update Progress" id="progress"></input>
			{% else %}
			Congrats! You have met all of your milestones and your goal!
			{% endif %}

			</form>
		</div>
	</div>
</div>
</div>
<script>
	$("#progress").on("click", function(evt) {
		evt.preventDefault();
		} );
</script>

{% endblock %}