<!-- This is where the user can view a previously entered run. -->

{% extends 'base.html' %}
{% block body %}
<div id="current_run">
<h3>Basic Run Info</h3><br>
<a  id = "edit_run" href = {{ edit_url }}>Edit your run</a>

<div class="row">
	<div id="instagram_pic" class="col-md-4">

		{{ instagram_html| safe }}

	</div>
	{% if current_route != None %}
		<div id="route_map" class="col-md-8">
			{{ current_route.html_embed | safe }}
		</div>
	{% endif %}
</div>

Run Date: {{run.date_run.month}}-{{run.date_run.day}}-{{run.date_run.year}}
<br>
Run Time: {{run.date_run.hour}}:{% if run.date_run.minute < 10 %}0{{run.date_run.minute}}{% else %}{{run.date_run.minute}}{% endif %}
<br>
Zipcode: {{run.zipcode}}
<br>
Distance: {{run.approx_dist}} miles
<br>
Duration: {{run.approx_time}} min
<br>
<br>

<h3>How were you feeling?</h3><br>
<span>How were you feeling before the run? <svg width="16" height="16">
  <circle cx="8" cy="8" r="8" stroke={{ color_zero }}] }} stroke-width="1" fill={{ color_zero }} />
</svg></span>
<br>
<span>How were you feeling during the run? <svg width="16" height="16">
  <circle cx="8" cy="8" r="8" stroke={{ color_one }}] }} stroke-width="1" fill={{ color_one }} />
</svg></span>
<br>
<span>How did you feel after the run? <svg width="16" height="16">
  <circle cx="8" cy="8" r="8" stroke={{ color_two }}] }} stroke-width="1" fill={{ color_two }} />
</svg></span>
<br>
<span>Your energy level that day: <svg width="16" height="16">
  <circle cx="8" cy="8" r="8" stroke={{ color_three }}] }} stroke-width="1" fill={{ color_three }} />
</svg></span>
<br>
You felt: {{ratings[4].select_ans.capitalize()}}<br>
<h3>Where did you run?</h3><br>
Scenery: {{ratings[5].select_ans.capitalize()}}<br>
Terrain: {{terrain_dictionary[ratings[6].select_ans]}}<br>
Route Type: {{route_dictionary[ratings[7].select_ans]}}<br><br><br>

<h3>Final Thoughts</h3><br>
{{ ratings[8].text_ans }}
<br>
<br>
<h3>Overall User Rating</h3>
{{ score }}
<br>
</div>
{% endblock %}