<!-- This is where the user can view a previously entered run. -->

{% extends 'base.html' %}
{% block body %}
<div id="current_run">
<h3>Basic Run Info <a  id = "edit_run" class="btn btn-default" href = {{ edit_url }}>Edit your run</a></h3>
<div class="row">
	<div id="run_details" class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-body">
			<h4>Run Deatils</h4>
			<ul>
				<li>Run Date: {{ run.date_run.month }}-{{ run.date_run.day }}-{{ run.date_run.year }}</li>
				<li>Run Time: {% if run.date_run.hour > 12 %} {{ run.date_run.hour -12 }}{% else %}{{ run.date_run.hour }}{% endif %}:{% if run.date_run.minute < 10 %}0{{run.date_run.minute}}{% else %}{{run.date_run.minute}}{% endif %}{% if run.date_run.hour > 12 %} PM{% else %}AM{% endif %}</li>
				<li>Zipcode: {{run.zipcode}}</li>
				<li>Distance: {{run.approx_dist}} miles</li>
				<li>Duration: {{run.approx_time}} min</li>
				<li><b>Overall User Rating: {{ score }}</b></li>
			</ul>

			<h4>Mood Ratings</h4>
			<ul>
				<li><span>How were you feeling before the run? <svg width="16" height="16">
			  	<circle cx="8" cy="8" r="8" stroke={{ color_zero }}] }} stroke-width="1" fill={{ color_zero }} />
				</svg></span></li>
		
				<li><span>How were you feeling during the run? <svg width="16" height="16">
			  	<circle cx="8" cy="8" r="8" stroke={{ color_one }}] }} stroke-width="1" fill={{ color_one }} />
				</svg></span></li>

				<li><span>How did you feel after the run? <svg width="16" height="16">
			  	<circle cx="8" cy="8" r="8" stroke={{ color_two }}] }} stroke-width="1" fill={{ color_two }} />
				</svg></span></li>
			
				<li><span>Your energy level that day: <svg width="16" height="16">
			  	<circle cx="8" cy="8" r="8" stroke={{ color_three }}] }} stroke-width="1" fill={{ color_three }} />
				</svg></span></li>

				<li>You described your state as: {{ratings[4].select_ans.capitalize()}}</li>
			</ul>	
			<h4>Final Thoughts</h4><br>
			{{ ratings[8].text_ans }}
		</div>
	</div>
	</div>
	<div id="route_map_show" class="col-md-5">
				<h4>Map of Route</h4>
				{% if not current_route.html_embed %}
					<p> Store routes in your <a href="/routes">routes library.</a> You can associate a route with a run and a map will show up in your run log!</p>
				{% else %}
					{{ current_route.html_embed | safe }}
				{% endif %}
	</div>
	<div class="col-md-3">
		<div id="course_description">
					<h4>Course Description</h3><br>
					<ul>
						<li>Scenery: {{ratings[5].select_ans.capitalize()}}</li>
						<li>Terrain: {{terrain_dictionary[ratings[6].select_ans]}}</li>
						<li>Route Type: {{route_dictionary[ratings[7].select_ans]}}</li>
					</ul>
					<div class="row">
						<div class="col-md-4">
							<img src="{{ location_image }}" style="width:75px;height:75px">
						</div>
						<div class="col-md-4">
							<img src="{{ terrain_image }}" style="width:75px;height:75px">
						</div>
						<div class="col-md-4">
							<img src="{{ route_image }}" style="width:75px;height:75px">
						</div>

					</div>
		</div>
				<div id="insta-div">
			<h4>Capture Your Run!</h4>
			{% if not instagram_html %}
				<p>You can add a picture from instagram to your run! It is an excellent way to document your running journey.</p>
			{% else %}
				{{ instagram_html | safe }}
			{% endif %}
		</div>
</div>
</div>
{% endblock %}